/* The CSS is 95% integrated in the Material UI components
** These clases are for special things and some details */

html {
  overflow-y: overlay;
}

.App {
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.podcast-detail-left img {
  width: 70%;
  align-self: center;
  border-radius: 10px;
}

.podcast-detail-left .podcast-description {
  text-align: left;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a:link,
a:visited,
a:active,
a:focus {
  color: #227cc7;
  text-decoration: none;
}

a:hover {
  color: black;
}

.audio-reproducer {
  width: 100%;
  margin-bottom: 1rem;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.episode-table th {
  font-weight: bold;
  font-size: 0.9rem;
}

.episode-table td {
  padding-bottom: 10px;
  padding-top: 10px;
}

.disabled-link {
  pointer-events: none;
}

@media (max-width: 768px) {
  .MuiAvatar-root.MuiAvatar-circular {
    width: 75px;
    height: 75px;
  }
}
